@model HandleErrorInfo

<div class="container">
    <h1>Error details:</h1>
    @if (Model != null)
    {
        <h4>@Model.Exception.Message</h4>
        if (Model.Exception.InnerException != null)
        {
            <p>@Model.Exception.InnerException.Message</p>
        }
    }
</div>

